

<div class="jumbotron" style="width: 50vw;">

    <div class="title">
        <img src="https://img.icons8.com/bubbles/300/000000/github.png" width="75" height="75" class="d-inline-block align-top" alt="" loading="lazy">
        <h1>GitHub Search</h1>
    </div>

    <p>Search through GitHub's vast data logs with GitHub Search.It's the way to go</p>
    <hr class="my-4">
    <p>This app allows users to search and view GitHub users' and their repos. There is also a new feature to search through all GitHub repos using the Repo Search feature.</p>
  </div>



