@import '../../../main-style.scss';


.repo{
    margin-bottom: 20px;
}
.card-body{
    background-color: $independence;
}

.card-header a{
    color: $orange-web;
    &:hover{
        color: $orange-web;
    }
}
.card-footer{
    color: $manatee;
}