
<div class="form-box card">

    <div class="card-body">

        <form class="form-inline card-body">
        <legend class="form-group mb-2">Search for a user:</legend>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="username">
          </div>
          <button type="submit" class="btn btn-sm btn-outline-primary mb-2">Search</button>
        </form>
        
        <hr>

        <form class="form-inline card-body">
          <legend class="form-group mb-2">Search for repos:</legend>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control form-control-sm" placeholder="username">
          </div>
          <button type="submit" class="btn btn-sm btn-outline-primary mb-2">Search</button>
        </form>

    </div>

</div>


