@import "../../../styles.scss";

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
.navbar{
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: $charcoal;
}
.nav-item a{
    color: whitesmoke;
    font-size: 20px;
}

.navbar-brand{
    display: flex;
    color: $orange-web;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px whitesmoke;
}
@media (max-width: 768px) {
    .navbar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}