@import "../../../styles.scss";

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
.navbar{
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: $charcoal;
}
.nav-item a{
    font-size: 15px;
}
.title{
    color: $orange-web;
    &:hover{
        color: $orange-web;
        text-decoration: none;
    }
}
.nav-item{
    margin-bottom: 10px;
}
.nav-item a{
    border-radius: 5px;
    padding: 5px 40px;
    color: $orange-web;
    &:hover, &:active{
        color: $orange-web;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.137);
    }
}
.active{
    color: $orange-web;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.137);
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px whitesmoke;
}
@media (max-width: 768px) {
    .navbar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}