@import '../../../main-style.scss';

.repo{
    margin-bottom: 30px;
}
.repo-body{
    background-color: $independence;
}
.card-footer{
    color: $manatee;
}
.card-header a{
    color: $orange-web;
    &:hover{
        color: $orange-web;
    }
}