

//custom colors
$independence : #33415C;
$oxford-blue: #001233;
$manatee : #979DAC;
$blue : #023E7D;
$true-blue : #0466C8;
$prussian-blue: #212D40;
$charcoal : #364156;
$truscan-red : #7D4E57;
$copper-red : #D66853;
$orange-web : #ffd153;
//background coloe

html, body{
    height: 100%;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: $charcoal;
}
body::-webkit-scrollbar-thumb{
    background-color: $orange-web;
}
.card{
    background-color: $independence;
}
.card-title {
    color: $manatee;
}
input{
    background-color: $charcoal;
    color: white;
    &:hover, &:focus{
        background-color: $prussian-blue;
        color: white;
    }
}
hr{
    background-color: white;
}
body{
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
    background-color: $prussian-blue;
    background-size: cover;
}